{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<style>
</style>
{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav navbar-right">
{% if current_user.is_authenticated() %}
<li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li> {% else %}
<li><a href="{{ url_for('auth.login') }}">Sign In</a></li> {% endif %}
</ul>
{% endblock %}
